.container {

    max-width: 80%;
    margin: 10rem auto;
    box-shadow: var(--shadow-dark);
    border-radius: 3px;
    overflow: hidden;
    background: var(--color-grey-light-2);

    @media only screen and (max-width: $bp-largest) {
        max-width: 100%;
        margin: 0 0;
    }

.header {
        background-color: #fff;
        border-bottom: var(--line);
        height: 6.5rem;
        display: flex;
        font-size: 1.4rem;
        justify-content: space-between;
        align-items: center;
    
        
     @media only screen and (max-width: $bp-smallest) {
         flex-wrap: wrap;  
         height: 11rem; 
         align-content: space-around; 
    }
    
    }


    .content {
        display: flex;
        flex-direction: row;


        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
        }

        .side-bar {
            background: var(--color-grey-dark-1);
            flex: 0 0 18%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media only screen and (max-width: $bp-medium) {
                flex: 1 1 100%;
                flex-direction: row;

            }

        }
        .hotelview {
            background-color: #fff;
            flex: 1; //  height: 80rem; //Resposible for height 
        }


    }

}

.detail {
    display: flex;
    padding: 4.5rem;
    background: var(--color-grey-light-1);
    border-bottom: var(--line);
    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;

    }
    @media only screen and (max-width:$bp-small) {
        flex-direction: column;
        align-items: center;
    }

}

.description {
    flex: 0 0 60%;
    background: #fff;
    margin-right: 4.5rem;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    font-size: 1.4rem;
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }
      @media only screen and (max-width:$bp-small) { 
        margin-right: 0; 
          margin-bottom: 3rem; 
    }
}

.user-review {
    flex: 1;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
